.header {
  padding: 90px 52px 91px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links__list {
  list-style: circle;
  display: flex;
  gap: 34px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__logo__image {
  width: 148px;
  height: 105px;
}

.header__links__list__item__no__bullit {
  list-style: none;
}

.header__link__active {
  text-decoration: none;
}

.header__link {
  text-underline-position: under;
}

.header__address {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  justify-self: flex-end;
  max-width: 240px;
  padding-bottom: 2px;
  padding-left: 3px;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  inset: 0;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 757px;
  position: relative;
  z-index: 1;
  padding: 166px 50px 0px 51px;
}

.cover__title {
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 0.3em;
  position: relative;
  z-index: 1;
}

.aligned__text {
  display: block;
}

.aligned__text__center {
  text-align: center;
  letter-spacing: 0.3em;
  padding-top: 10px;
}

.aligned__text__right {
  text-align: right;
  padding-top: 5px;
}

.letter__spacing__extended {
  letter-spacing: 0.6em;
  line-height: 100%;
}

.no__letter__spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-top: 129px;
  gap: 81px;
}

.cover__description__text {
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
  padding-left: 27px;
}

.cover__description__for__b {
  letter-spacing: 29px;
}

.bet__button {
  display: flex;
  align-items: center;
  padding: 12px 32px 11px 31px;
  color: #fff;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
}

.lots {
  padding: 179px 24px 148px 24px;
}

.lots__heading {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  padding-bottom: 27px;
}

.card {
  width: 334px;
  min-height: 563px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  z-index: 3;
}

.lots__card__list__item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  gap: 25px;
}

.card__link {
  text-decoration: none;
  height: 100%;
}

.card__title {
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  min-width: 254px;
  padding: 51px 40px 0 40px;
}

.card__text__film {
  text-align: left;
  padding: 241px 40px 48px 40px;
}

.card__text__book {
  text-align: left;
  padding: 0 40px 48px 40px;
}

.card__text__picture {
  text-align: left;
  padding: 94px 40px 48px 40px;
}

.card__type {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 334px;
  height: 563px;
}

.card__type__film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__type__book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__type__picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look__more__link {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
  padding-top: 29px;
  display: flex;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  padding: 35px 24px 78px;
  gap: 25px;
  width: 1052px;
  height: 595px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  align-items: center;
  justify-content: center;
  margin-left: 47px;
}

.about__logo__image {
  width: 148px;
  height: 114px;
}

.about__column {
  align-content: center;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 100px 0;
}

.about__text {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about__text__first {
  letter-spacing: 0.2px;
  padding: 0 0 24px 0;
  min-width: 688px;
}

.about__text__second {
  min-width: 693px;
}

.footer {
  padding: 181px 50px 81px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 160px;
}

.footer__address {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  justify-self: flex-end;
  max-width: 240px;
  padding-bottom: 7px;
  padding-left: 2px;
}

.footer__link {
  text-underline-position: under;
}

.footer__link__active {
  text-decoration: none;
}

.footer__menu {
  padding-bottom: 40px;
  padding-left: 20px;
}

.footer__menu__list__item {
  color: #000;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

.footer__social__list {
  display: flex;
  gap: 48px;
  padding-bottom: 52px;
}

.footer__social__list__item {
  list-style: none;
}

.footer__social__icon {
  width: 48px;
  height: 48px;
}
